<footer id="footer">
      
    <div class="rounded-social-buttons">
        <a class="social-button facebook" href="https://www.facebook.com/gaby.comparin" target="_blank">
            <i class="fa-brands fa-facebook-f"></i>
        </a>
        <a class="social-button email" href="mailto:gabrielacecily@gmail.com" target="_blank">
            <i class="fa-solid fa-envelope"></i>
        </a>
        <a class="social-button linkedin" href="https://www.linkedin.com/in/gabriela-comparin-30872b233" target="_blank">
            <i class="fab fa-linkedin"></i>
        </a>
        <a class="social-button telegram" href="https://msng.link/o/?GabilinC=tg" target="_blank">
            <i class="fab fa-telegram"></i>
        </a>

    <p>Proyecto propuesto por Argentina Programa</p>
</div>

</footer>