
 #footer {
    height: 80px;
	width:100%;
	padding: 0.5rem 1rem;
    background:#FFC8DD;
	color: #000000;
	position: fixed; 
 	bottom: 0;
	display: flex;
	align-items: center;
    justify-content: center;
    font-weight: 400;
}

  .rounded-social-buttons {
	text-align: center;
  }
  
  .social-button {
	 display: inline-block;
	cursor: pointer;
	width: 2rem;
	height: 2rem;
	border-radius: 1.6875rem;	
	color: #fefefe;
	font-size: 1rem;
	line-height: 2em;
	transition: all 0.5s ease;
	margin-right: 0.25rem;

  }
  
  .fa-envelope, .fa-facebook-f, .fa-linkedin, .fa-telegram {
	font-size: 20px;
  }

  /*facebook*/
  .rounded-social-buttons .social-button.facebook {
	background: #3b5998;
  }
  .rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
	color: #3b5998;
	background: #fefefe;
	border-color: #3b5998;
  }
  
  /*e-mail*/
  .rounded-social-buttons .social-button.email {
	background: #55acee;
  }
  .rounded-social-buttons .social-button.email:hover, .rounded-social-buttons .social-button.email:focus {
	color: #55acee;
	background: #fefefe;
	border-color: #55acee;
  }
 
  /*linkedin*/
  .rounded-social-buttons .social-button.linkedin {
	background: #007bb5;
  }
  .rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
	color: #007bb5;
	background: #fefefe;
	border-color: #007bb5;
  }
  
  /*telegram*/
  .rounded-social-buttons .social-button.telegram {
	background: #549fca;
  }
    .rounded-social-buttons .social-button.telegram:hover, .rounded-social-buttons .social-button.telegram:focus {
	color: #549fca;
	background: #fefefe;
	border-color: #549fca;
  }
  
